<% if user_signed_in? %>
  <% if comment.like_user(current_user.id) %>
  	<ul class="like done">
    	<li> <%= link_to 'いいね', paper_comment_like_path(paper,comment, comment.like_user(current_user.id)), method: :delete, remote: true %> </li>
    	<li> <%= comment.like_count %> </li>
    </ul>
  <% else %>
  	<ul class="like">
    	<li> <%= link_to "いいね", paper_comment_likes_path(paper,comment), method: :post, remote: true %> </li>
    	<li> <%= comment.like_count %> </li>
    </ul>
  <% end %>
<% else %>
  <span> <%= comment.like_count %> Likes </span>
<% end %>