<div class="comment-row2">
  <a class="user-profile-wrapper" href="/users/<%=comment.user.id%>">
    <% if comment.user.image.url %>
      <div class="user-cover"> <%= image_tag comment.user.image.url%> </div>
    <% else %>
      <div class="user-cover"><%= evil_icon 'ei-user', size: :m %></div>
    <% end %>
    <div class="user-profile">
      <div class="name"> <%= comment.user.name %> </div>
      <div class="introduction"> <%= comment.user.introduction %> </div>
    </div>
  </a>
  <div class = "comment-wrapper">
    <div class = "comment"> <%= markdown truncate(comment.comment, length: 60, separator: '...') %> </div>
  </div>
</div>