

<div class="comment-row">
  <a class="user-profile-wrapper" href="/users/<%=comment.user.id%>">
    <% if comment.user.image.url %>
      <div class="user-cover"> <%= image_tag comment.user.image.url%> </div>
    <% else %>
      <div class="user-cover"><%= evil_icon 'ei-user', size: :m %></div>
    <% end %>
    <div class="user-profile">
      <div class="name"> <%= comment.user.name %> </div>
      <div class="introduction"> <%= comment.user.introduction %> </div>
      <div class="picktime"> <%= time_ago_in_words(comment.updated_at) %>前 </div>
    </div>
  </a>
  <div class = "comment-wrapper">
    <div class = "comment"> <%= markdown comment.comment %> </div>
    <span id="like_count<%= comment.id %>"> <%= render partial: "likes/like", locals: {paper: comment.paper, comment: comment} %> </span>
  </div>
</div>
