<div>
    <%= link_to "#{paper.title}", "/papers/#{paper.id}"%>
    <strong> <%= paper.comments_count%> Picks</strong>
    <% if comment %>
      <div>
        <strong> <%= link_to comment.user.name ,"/users/#{comment.user.id}"%>  </strong>
        <%= comment.updated_at %><br>
        <%= comment.user.introduction %>
        <%= markdown  comment.comment %>
      </div>
    <% end %>
</div>
