<div class = "item">
    <% if paper.image.url %>
        <%= image_tag paper.image.url, style: "width:100%;"%>
    <% else %>
        <%= image_tag "http://free-tribe.com/okamura/wp-content/uploads/sites/4/2016/01/sat-ai-head-640x353.jpg", style: "width:100%;"%>
    <% end %>
    <% if paper.headline %>
        <h2> <%= paper.headline %></h2>
    <% end %>
    <%= link_to "#{paper.title}", "/papers/#{paper.id}"%>
    <strong> <%= paper.comments_count%> Picks</strong>
    <% if comment and comment.user %>
      <div class = "comment">
        <strong> <%= link_to comment.user.name ,"/users/#{comment.user.id}"%>  </strong>
        <%= comment.updated_at %><br>
        <%= comment.user.introduction %>
        <%= markdown  comment.comment %>
        <span> <%= comment.like_count %> Likes </span>
      </div>
    <% end %>
</div>
