<div>
  <h1> <%= @paper.title %> </h1>
  <%= form_for(@paper, action: :update) do |f| %>
    <div style="margin: 8px 0">
      <%= f.text_area :comment,  placeholder: "キャッチーな見出し", style: 'width: 100%;height: 50px;' %>
    </div>
    <div style="margin: 8px 0">
      <%= f.file_field :image %>
    </div>
    <div>
      <%= button_tag type: "submit" do %>
        投稿する<i></i>
      <% end %>
    </div>
  <% end %>
</div>