<div>
  <div>
    <% if user_signed_in? %>
      <% if @paper.comment_user(current_user.id) %>
        <%= link_to 'コメントを編集', "/papers/#{@paper.id}/comments/#{@paper.comment_user(current_user.id).id}/edit", method: :get %>
        <%= link_to 'コメントを削除', "/papers/#{@paper.id}/comments/#{@paper.comment_user(current_user.id).id}", method: :delete %>
      <% else %>
        <%= link_to 'Pick!', "/papers/#{@paper.id}/comments/new" %>
      <% end %>
    <% end %>
  </div>
  <div class = "item">
  <%= link_to "#{@paper.title}", "#{@paper.url}" %>
  <div>
  <% @comments.each do |comment| %>
    <% if comment.user %>
    <div class="comment">
      <strong> <%=  comment.user.name %>  </strong>
      <%= comment.updated_at %><br>
      <%= comment.user.introduction %>
        <%= markdown comment.comment %>
        <span id="like_count<%= comment.id %>"> <%= render partial: "likes/like", locals: {paper: @paper, comment: comment} %> </span>
    </div>
    <% end %>
  <% end %>
  </div>
</div>