<%= render partial: "nav2" %>
<div class="content">

<div class="item">

  <div class="show">
    <% if @paper.image.url %>
      <%= image_tag @paper.image.url, style: "width:100%;"%>
    <% else %>
      <%= image_tag "https://www.obayashi.co.jp/tri/facilities/img/photo01.jpg", style: "width:100%;"%>
    <% end %>

    <div class="clearfix">
      <div class="title-box">
        <% if @paper.headline %>
          <h2> <%= @paper.headline %> </h2>
        <% else %>
          <h2> <%= @paper.title %> </h2>
        <% end %>
      </div>
      <div class="picks-box">
        <div class="curled-box"> <span class="num"><%= @paper.comments_count%></span> <br> Picks </div>
      </div>
    </div>
    <div class="source"><%= link_to "論文を読む", "#{@paper.url}"%></div>
  </div>

<div id="modal-content" class="clearfix"></div>

<% if not @comments[0] %>
  <div class="abstract"><%= simple_format @paper.abstract %></div>
<% else %>
  <div class="abstract" id="truncate"> <%= simple_format truncate(@paper.abstract, length: 144, separator: '...') %> <strong>すべて表示</strong> </div>
<% end %>

  <div class="picks">
    <% if  @comments[0] %>
      <div class="section-header">コメント</div>
    <% end %>
    <% @comments.each do |comment| %>
        <%= render partial: "commentbox", locals: {comment: comment} %>
    <% end %>
  </div>

</div>
</div>

<script>
 $("#truncate").click(function(){ $("#truncate").html('<%= simple_format @paper.abstract %>'); });
</script>

<script>
// History API が使えるブラウザかどうかをチェック
if( window.history && window.history.pushState ){
  //. ブラウザ履歴に１つ追加
  history.pushState( "nohb", null, "" );
  $(window).on( "popstate", function(event){
    //. このページで「戻る」を実行
    if( !event.originalEvent.state ){
      //. もう一度履歴を操作して終了
      history.pushState( "nohb", null, "" );
      return;
    }
  });
}
</script>


