<div class="item">

  <div class="show">
    <% if @paper.image.url %>
      <%= image_tag @paper.image.url, style: "width:100%;"%>
    <% else %>
      <%= image_tag "https://www.obayashi.co.jp/tri/facilities/img/photo01.jpg", style: "width:100%;"%>
    <% end %>

    <div class="clearfix">
      <div class="title-box">
        <% if @paper.headline %>
          <h2> <%= @paper.headline %> </h2>
        <% else %>
          <h2> <%= @paper.title %> </h2>
        <% end %>
      </div>
      <div class="picks-box">
        <div class="curled-box"> <span class="num"><%= @paper.comments_count%></span> <br> Picks </div>
      </div>
    </div>
    <div class="source"><%= link_to "論文を読む", "#{@paper.url}"%></div>
  </div>

<div id="modal-content" class="clearfix"></div>

  <div class="picks">
    <div class="section-header">注目コメント</div>
    <% @comments.each do |comment| %>
        <%= render partial: "commentbox", locals: {comment: comment} %>
    <% end %>
  </div>

  <div class="pick">
    <% if user_signed_in? %>
      <% if @paper.comment_user(current_user.id) %>
        <%= link_to 'コメントを編集', "/papers/#{@paper.id}/comments/#{@paper.comment_user(current_user.id).id}/edit",  remote: true %>
        <%= link_to 'コメントを削除', "/papers/#{@paper.id}/comments/#{@paper.comment_user(current_user.id).id}", method: :delete %>
      <% else %>
        <%= link_to 'Pickする', "/papers/#{@paper.id}/comments/new",  remote:true %>
      <% end %>
    <% end %>
  </div>

</div>

<script>
$(document).ready(function(){
  $('.pick').css('width' , $('.item').outerWidth() );

  var sc_previous = $(document).scrollTop();
  $(document).scroll(function () {
    var sc_now = $(document).scrollTop();
    if (sc_previous - sc_now < 1){
      $(".pick").fadeOut("fast");
      sc_previous = sc_now;
    }else{
      $(".pick").fadeIn("fast");
    }
  });
});
</script>


