<!DOCTYPE html>
<html>
<head>
  <title>Arxivpicks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div>
      <%= form_tag('/papers/search', method: :get) do %>
        <input  name="keyword" placeholder="論文名で検索" type="text" value="">
          <button title="検索" type="submit"><i>検索</i></button>
        </input>
      <% end %>
    </div>
    <div>
      <% if user_signed_in? %>
       こんにちは、<strong> <%= current_user.name%> </strong>さ〜ん！
       <%= link_to 'ログアウト', "/users/sign_out", method: :delete %>
      <% else %>
       <%= link_to 'ログイン', "/users/sign_in", method: :get %> 
      <% end %>
    </div>
    <div> <a href="/"> ArxivPicks </a> </div>
  </header>

<%= yield %>

  <footer>
  コピーライト
  </footer>
</body>
</html>
