<!DOCTYPE html>
<html>
<head>
  <title>ArxivPicks</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta content="width=device-width,user-scalable=no" name="viewport">
</head>
<body>
  <header>
    <div class="search-box">
      <%= form_tag('/papers/search', method: :get) do %>
        <input  name="keyword" placeholder="論文を検索" type="text" value="">
          <button title="検索" type="submit"><i>検索</i></button>
        </input>
      <% end %>
    </div>
   
      <a href="/"> ArxivPicks </a> 
      <% if user_signed_in? %>
       <%= link_to 'マイページ', "/users/#{current_user.id}", method: :get %>
       <%= link_to 'ログアウト', "/users/sign_out", method: :delete %>
      <% else %>
       <%= link_to 'ログイン', "/users/sign_in", method: :get %> 
      <% end %>
    
  </header>

  <div class="content">
    <%= yield %>
  </div>

  <footer>
  コピーライト
  </footer>
</body>
</html>
